<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave Management System</title>
    <link rel="stylesheet" href="{% static 'assets/css/adminDashboard.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <!-- Bootstrap core CSS     -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">

</head>
<body>

  <header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
      <div class="position-sticky">
    <div class="list-group list-group-flush mx-3 mt-4">
      <ul class="sidebar-nav " id="sidebar-nav">
          <li class=" side align-items-left"data-bs-toggle="collapse">
            <div class="logo d-flex align-items-center">
              <img src="{% static 'assets/img/Apcosys.png'%}" alt="">
              <span class="d-none d-lg-block">Apcosys Private Limited</span>
            </div>
          </li>
        <li class="profile"data-bs-toggle="collapse">
          <img src="{% static 'assets/img/user.png'%}" alt="" class="img-fluid rounded-circle">
          <h6>{{request.session.Username}}</h6>
      </li>
        <li class="nav-menu" style="padding-top: 10%; "data-bs-toggle="collapse">
          <ul id="components-nav" class="nav-content "data-bs-parent="#sidebar-nav"  >
            <li  ><a href="/adminDashboard"><span>Dashboard</span></a></li>
            <li><a href="/leaveApplicationDetails"> <span>Employee Leave Details</span></a></li>
            <li class="active"><a href="/employees"><span>Employee</span></a></li>
  
          </ul>
      </li>
    </ul>
    </div>
  </div>
    </nav>
    <!-- Sidebar -->
  
    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggle button -->
        <nav class="header-nav "></nav>
                      <button
                    class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#sidebarMenu"
      aria-controls="sidebarMenu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
                      <!-- <a type="button" class="toggle" id="menu-toggle" ><i class="bi bi-list toggle-sidebar-btn"></i></a> -->
                      <div class="leapss"><img src="{% static 'assets/img/logo.png'%}" alt=""></div>
                      <h3 class="greeting">Hi {{request.session.Username}}!</h3>
                      
                        <ul class="d-flex align-items-center header-nav">
                          <li style="list-style: none;">
                              <!-- <button type="button" class="btn logout"><i class="bi bi-box-arrow-right"></i> Logout</button> -->
                              <a type="button" href="/adminLogin" class="btn logout"><i class="bi bi-box-arrow-right"></i> Logout</a>
                          </li>
                        </ul>
                      </nav>
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
  </header>
    <main id="main" class="main">
        <section class="section container shadow p-3 mb-5 bg-white rounded dashboard" >
            <div class="row">
                <div class="col-md-4"></div>
            <div class="col-md-3" >
                <div class="row" style="margin-top: 15%;">
                    <!-- <div class="">
                        <div class="card"style = "background-color: #52D89C;">
                            <div class="card-body">
                              <a style="text-decoration: none;" href="#leaveApplication" onclick="ShowAndHide()"><p class="card-text">Leave Application</p></a>
                            </div>
                        </div>
                    </div> -->
                    <div class="leave">
                      <a type="button" class="btn btn-primary btn-lg " href = "/addEmployee">Add Employee</a>
                    </div>
                </div>
                <div class="row"style="margin-top: 15%;">
                    <div class="basket">
                      <a type="button" class="btn btn-primary btn-lg " href="/edit" >Edit Employee Details</a>
                    </div>
                </div>
                <div class="row"style="margin-top: 15%;margin-bottom:40%;">
                    <div class="approve">
                      <a type="button" class="btn btn-primary btn-lg " href="/removeEmployees">Remove Employee</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
            </div>
            
           
          </section>
      
        </main><!-- End #main -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </script>
</body>
</html>