<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave Management System</title>
    <link rel="stylesheet" href="{% static 'assets/css/dashboard.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <!-- Bootstrap core CSS     -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">

</head>
<body>

  <header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
      <div class="position-sticky">
    <div class="list-group list-group-flush mx-3 mt-4">
      <ul class="sidebar-nav " id="sidebar-nav">
        <li class=" side align-items-left"data-bs-toggle="collapse">
          <div class="logo d-flex align-items-center">
            <img src="{% static 'assets/img/Apcosys.png'%}" alt="">
            <span class="d-none d-lg-block">Apcosys Private Limited</span>
          </div>
        </li>
      <li class="profile"data-bs-toggle="collapse">
          <img src="{{emp_reg.Image.url}}" alt="" class="img-fluid rounded-circle">
          <h6 class="greeting">Hi {{request.session.Name}}!</h6>
      </li>
      <li class="nav-menu" style="padding-top: 10%;"data-bs-toggle="collapse">
        <ul id="components-nav" class="nav-content "data-bs-parent="#sidebar-nav"  >
          <li ><a href="/sidebar"><i class="bi bi-grid"data-bs-toggle="collapse"></i><span>Home</span></a></li>
          <li><a href="/leaveSection"><i class="bi bi-clock"data-bs-toggle="collapse"></i> <span>Leave Section</span></a></li>
          <li class="active"><a href="/profileSetting"><i class="bi bi-gear"data-bs-toggle="collapse"></i><span>Profile </span></a></li>

        </ul>
      </li><!-- .nav-menu -->
  </ul>
    </div>
  </div>
    </nav>
    <!-- Sidebar -->
  
    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggle button -->
        <nav class="header-nav "></nav>
                      <button
        
        style="left: 0;"
         class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#sidebarMenu"
      aria-controls="sidebarMenu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
                      <!-- <a type="button" class="toggle" id="menu-toggle" ><i class="bi bi-list toggle-sidebar-btn"></i></a> -->
                      <h6 class="greeting">Hi {{request.session.Name}}!</h6>
                      
                        <ul class="d-flex align-items-center header-nav">
                          <li style="list-style: none;">
                              <button type="button" class="btn logout"href="/employeeLogin"><i class="bi bi-box-arrow-right"></i> Logout</button>
                              
                          </li>
                        </ul>
                      </nav>
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
  </header>
  <main id="main" class="main">
    <section class="section container shadow p-3 mb-5 bg-white rounded dashboard" >
        <h5 style="color: #009eff; padding: 2%;">Profile Setting</h5>
        <form action="">
          <div class="row details">
            <div class="col-md-4">
                <div class="userDetails"style="padding-top: 7%;"><p>Name</p></div>
            </div>
            <div class="col-md-5">
              <div class="inputField">
                <input type="text" placeholder="Name" id="Name" name="Name" disabled  value="{{ emp_reg.Name }}">
              </div>
            </div>
            <div class="col-md-2">
              <div class="profileImage">
                <img src="{{emp_reg.Image.url}}" alt="" class="img-fluid ">
              </div>
            </div>
            <div class="col-md-1"></div>
        </div>

        <div class="row details">
          <div class="col-md-4">
            <div class="userDetails"><p>Employee ID</p></div>
          </div>
          <div class="col-md-5">
            <div>
              <input type="text" placeholder="Employee ID" id="Emp_ID" name="Emp_ID" disabled  value="{{ emp_reg.Emp_ID }}">
          </div>
          </div>
          <div class="col-md-2">
          </div>
          <div class="col-md-1"></div>
      </div>
        <div class="row details">
            <div class="col-md-4">
              <div class="userDetails"><p>Date of Birth</p></div>
            </div>
            <div class="col-md-5">
              <div>
                <input  type="text" placeholder="YYYY-MM-DD" id="D_O_B" name="D_O_B" disabled value="{{ emp_reg.D_O_B }}">
            </div>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row details">
            <div class="col-md-4">
              <div class="userDetails"><p>Contact</p></div>
            </div>
            <div class="col-md-5">
              <div>
                <input type="tel" placeholder="Phone Number" id="Contact" name="Contact" disabled  value="{{ emp_reg.Contact }}">
            </div>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row details">
            <div class="col-md-4">
              <div class="userDetails"><p>E-mail</p></div>
            </div>
            <div class="col-md-5">
              <div>
                <input type="Email" placeholder="Email" id="Email" name="Email"  disabled value="{{ emp_reg.Email }}">
            </div>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row details">
            <div class="col-md-4">
              <div class="userDetails"><p>Designation</p></div>
            </div>
            <div class="col-md-5">
              <div class="userDetails" style="margin-left: 2%;">
                <input type="text" placeholder="Designation" id="Designation" name="Designation" disabled value="{{ emp_reg.Designation }}">
            </div>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row details">
            <div class="col-md-4">
              <div class="userDetails"><p>Date Joined</p></div>
            </div>
            <div class="col-md-5">
              <div class="userDetails"style="margin-left: 2%;">
                <input type="text" placeholder="Date of Joining" id="Date_of_join" name="Date_of_join"  disabled value="{{ emp_reg.Date_of_join }}">
            </div>
            </div>
            <div class="col-md-2">
            <div class="col-md-1"></div>
        </div>
        <div class="row details">
            <div class="col-md-4">
              <div class="userDetails"><p>Reporting Department</p></div>
            </div>
            <div class="col-md-5">
              <div class="userDetails"style="margin-left: 2%;">
                <input type="text" placeholder="Reporting_Dept" d="Reporting_Dept" name="Reporting_Dept" disabled value="{{ emp_reg.Reporting_Dept }}">
            </div>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-1"></div>
        </div>
        <a href="/sidebar" type="button"  class="btn btn-outline-info btn-sm btn-block closeButton"><i class="bi bi-x-square"></i> &nbsp; Close</a>
                
            
        </div>
        </form>
       
      </section>
  
    </main><!-- End #main -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </script>
</body>
</html>