<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave Management System</title>
    <link rel="stylesheet" href="{% static 'assets/css/approvalStatus.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <!-- Bootstrap core CSS     -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    
</head>
<body>

  <header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
      <div class="position-sticky">
    <div class="list-group list-group-flush mx-3 mt-4">
      <ul class="sidebar-nav " id="sidebar-nav">
        <li class=" side align-items-left"data-bs-toggle="collapse">
          <div class="logo d-flex align-items-center">
            <img src="{% static 'assets/img/Apcosys.png'%}" alt="">
            <span class="d-none d-lg-block">Apcosys Private Limited</span>
          </div>
        </li>
      <li class="profile"data-bs-toggle="collapse">
          <img src="{{emp_reg.Image.url}}" alt="" class="img-fluid rounded-circle">
          <h6 class="greeting">Hi {{request.session.Name}}!</h6>
      </li>
      <li class="nav-menu" style="padding-top: 10%;"data-bs-toggle="collapse">
        <ul id="components-nav" class="nav-content "data-bs-parent="#sidebar-nav"  >
          <li ><a href="/sidebar"><i class="bi bi-grid"data-bs-toggle="collapse"></i><span>Home</span></a></li>
          <li class="active"><a href="/leaveSection"><i class="bi bi-clock"data-bs-toggle="collapse"></i> <span>Leave Section</span></a></li>
          <li><a href="/profileSetting"><i class="bi bi-gear"data-bs-toggle="collapse"></i><span>Profile </span></a></li>

        </ul>
      </li><!-- .nav-menu -->
  </ul>
    </div>
  </div>
    </nav>
    <!-- Sidebar -->
  
    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggle button -->
        <nav class="header-nav "></nav>
                      <button
        
        style="left: 0;"              class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#sidebarMenu"
      aria-controls="sidebarMenu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
                      <!-- <a type="button" class="toggle" id="menu-toggle" ><i class="bi bi-list toggle-sidebar-btn"></i></a> -->
                      <h6 class="greeting">Hi {{request.session.Name}}!</h6>
                      
                        <ul class="d-flex align-items-center header-nav">
                          <li style="list-style: none;">
                              <button type="button" class="btn logout"href="/employeeLogin"><i class="bi bi-box-arrow-right"></i> Logout</button>
                              
                          </li>
                        </ul>
                      </nav>
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
  </header>
    <main id="main" class="main">
        <section class="section container shadow p-3 mb-5 bg-white rounded dashboard" >
            <h5 style="color: #009eff; padding: 2%;">Employee Leave Application</h5>
            <div class="row details">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="userDetails"style="padding-top: 7%;"><p>Name</p></div>
                            <div class="userDetails"><p>EmployeeID</p></div>
                            <div class="userDetails"><p>DOB</p></div>
                            <div class="userDetails"><p>DOJ</p></div>
                            <div class="userDetails"><p>E-mail</p></div>
                            
                        </div>
                        <div class="col-md-6">
                            <form>
                              {% for employee in leaves %} 
                                <div class="userDetails" style="margin-left: 2%;">
                                    <p>{{ employee.Name}}</p>
                                </div>
                                <div class="userDetails"style="margin-left: 2%;">
                                    <p>{{ employee.Emp_ID}}</p>
                                </div>
                                <div class="userDetails"style="margin-left: 2%;">
                                    <p>{{ employee.D_O_B}}</p>
                                </div>
                                <div class="userDetails" style="margin-left: 2%;">
                                    <p>{{ employee.Date_of_join}}</p>
                                </div>
                                <div class="userDetails"style="margin-left: 2%;">
                                    <p>{{ employee.Email}}</p>
                                </div>
                                
                                {% comment %} {% endfor %}   {% endcomment %}
                               </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="userDetails"><p>Leave Type</p></div>
                            <div class="userDetails"style="padding-top: 7%;"><p>Leave Duration (From)</p></div>
                            <div class="userDetails"><p>Leave Duration (To)</p></div>
                            <div class="userDetails"><p>Number Of Days</p></div>
                            <div class="userDetails"><p></p></div>

                        </div>
                        <div class="col-md-6">
                          {% comment %} {% for leave in leaves %}  {% endcomment %}

                              <div class="userDetails"style="margin-left: 2%;">
                                <p>{{ employee.Category}}</p>
                            </div>
                            
                            <div class="userDetails" style="margin-left: 2%;">
                                <p>{{ employee.From }}   ( {{ employee.leavedayCategory_From }} )</p>
                            </div>
                            <div class="userDetails"style="margin-left: 2%;">
                                <p>{{ employee.to }}     ( {{ employee.leavedayCategory_to }}  )</p>
                            </div>
                            <div class="userDetails"style="margin-left: 2%;">
                                <p>{{employee.Leave_count_Category}}</p>
                            </div>
                        </div>
                    <div style="margin-left: 4%; padding-right:10%; text-align:justify;" class="userDetails"><p><span style="color: #009eff; align:justify">Reason: </span>{{ employee.Reason }}</p></div>

                    </div>

                    

                </div>
                <hr>
                <div class="row">
   
                    <div class="col-md-6">
                        <textarea disabled maxlength="150" cols="30" rows="5">{{employee.comments}}</textarea>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                          {% if employee.leave_status == 0 %}
                            <div class="col-md-6">
                                <center>
                                    <div class="rejected justify-content-center" style="margin-top: 20%;">
                                        <button type="submit" class="btn btn-primary btn-lg " href="/Reject_leave/{{employee.Emp_ID}}/{{employee.id}}">Reject</button>
                                    </div>
                                </center>
                            </div>
                            <div class="col-md-6">
                              <center>
                                  <div class="approve justify-content-center"style="margin-top: 20%;">
                                      <a type="submit" class="btn btn-primary btn-lg " href="/Approve_leave/{{employee.Emp_ID}}/{{employee.id}}">Approve</a>
                                    </div>
                              </center>
                          </div>
                            {% elif employee.leave_status == 1  %}
                            <div class="approve">
                              <a type="button" class="btn btn-primary btn-lg" disabled="disabled" data-toggle="modal" data-target="#reply_modal">Approved</a>
                            </div>  
                            
                            {% else %}

                            <div class="rejected">
                              <a type="button" class="btn btn-primary btn-lg" disabled="disabled" data-toggle="modal" data-target="#reply_modal">Rejected</a>
                          </div>
    
                            
                            {% endif %}
                        </div>
                    </div>
                  <form>
                    
                    
                    {% endfor %}  
                </div>
            </div>
          </section>
      
      
        </main><!-- End #main -->
        <script src="{% static 'assets/js/main.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    
</body>
</html>